test/spark-*
test/__pycache__/
.vscode/
test/apache-hive-*
.metals/
.scala-build/
test/java/target/
test/scala/project/
test/scala/target/
iceberg-rest-image/bin/
kafka/kafka-connect-jdbc*
kafka/**/target/

additions/*